@model GestorHorarioG6.Models.Servico

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<div>
    <h4>Serviço</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Nome</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            <p>Duração Média</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DuracaoMedia)
        </dd>
        <dt>
            <p>Descrição</p>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrição)
        </dd>
        <dt>
            <form asp-action="Delete">
                <input type="hidden" asp-for="ServicoId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('Tem a certeza que pretende eliminar?');" />
            </form>
        </dt>
        <dd>
            <a asp-action="Index">
                <input type="submit" value="Voltar" class="btn btn-default" />
            </a>
        </dd>
    </dl>
</div>