@model GestorHorarioG6.Models.RequisicaoEquipamento

@{
    ViewData["Title"] = "Delete";
}

<h2>Apagar Requisição</h2>

<h3>Tem a certeza que deseja apagar esta requisição?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Equipamento:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipamento.Nome)
        </dd>
        <dt>
            Hora de Início:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraDeInicio)
        </dd>
        <dt>
            Hora de Fim:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraDeFim)
        </dd>
        <dt>
            Bloco:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bloco.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="RequisicaoEquipamentoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>
    <br />
    <a asp-action="Index" class="btn btn-primary">Voltar para a lista</a>
</div>