@model GestorHorarioG6.Models.Turno

@{
    ViewData["Title"] = "Create";
}

<h2>Criar Turno</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicioManha" class="control-label">Hora de Inicio</label>
                <input asp-for="HoraInicioManha" class="form-control" />
                <span asp-validation-for="HoraInicioManha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFimManha" class="control-label">Hora de Fim</label>
                <input asp-for="HoraFimManha" class="form-control" />
                <span asp-validation-for="HoraFimManha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraInicioTarde" class="control-label">Inicio da refeição</label>
                <input asp-for="HoraInicioTarde" class="form-control" />
                <span asp-validation-for="HoraInicioTarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraFimTarde" class="control-label">Fim da refeição</label>
                <input asp-for="HoraFimTarde" class="form-control" />
                <span asp-validation-for="HoraFimTarde" class="text-danger"></span>
            </div>
            <div class="form-group">
                
            </div>
        </form>
    </div>
</div>

<div>
    <input type="submit" value="Criar" class="btn btn-primary" />
    <a asp-action="Index"><input type="button" value="Voltar" class="btn btn-default" /></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
