@model GestorHorarioG6.Models.Requisicao

@{
    ViewData["Title"] = "Requisitar";
}

<h2>Criar Requisição</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label">Departamento</label>
                <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.Servico"></select>
            </div>
            <div class="form-group">
                <label asp-for="HoraDeInicio" class="control-label">Hora de Início</label>
                <input asp-for="HoraDeInicio" class="form-control" />
                <span asp-validation-for="HoraDeInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraDeFim" class="control-label">Hora de Fim</label>
                <input asp-for="HoraDeFim" class="form-control" />
                <span asp-validation-for="HoraDeFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequisicoesAdicionais" class="control-label">Requisições Adicionais</label>
                <input asp-for="RequisicoesAdicionais" class="form-control" />
                <span asp-validation-for="RequisicoesAdicionais" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Requisitar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

