@model GestorHorarioG6.Models.Requisicao

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<div>
    <h4>Requisição</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departamento.Nome)
        </dd>
        <dt>
            <form asp-action="Delete">
                <input type="hidden" asp-for="RequisicaoId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" onclick="return confirm('Tem a certeza que pretende eliminar?');" />
            </form>
        </dt>
        <dd>
            <a asp-action="Index">
                <input type="submit" value="Voltar" class="btn btn-default" />
            </a>
        </dd>
    </dl>
</div>
