@model EquipamentosViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Equipamentos</h2>

<table class="table">
    <tr>
        <td>
            <br />
            <p>
                <a asp-action="Create" class="btn btn-primary">Adicionar Equipamento</a>
            </p>
        </td>
        <td>
        <td class="col-sm-offset-3" style="text-align:center">
            <form asp-controller="Equipamentos" asp-action="Index">
                <br />
                <p>
                    Nome: <input type="text" name="SearchString" />
                    <button type="submit" style="border:0; background:transparent">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </p>
            </form>
        </td>
        <td style="text-align:right">
            <form asp-controller="Equipamentos" asp-action="Index">
                <br />
                <p>
                    Bloco: <input type="text" name="SearchString2" />
                    <button type="submit" style="border:0; background:transparent">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </p>
            </form>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
               Nome
            </th>
            <th>
               Bloco
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Equipamento) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bloco.Nome)
            </td>
            <td style="text-align:right">
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.EquipamentoId">Editar</a> |
                <a class="btn btn-warning">Descrição</a>|
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.EquipamentoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div pagination-model="Model.PageInfo"></div>
