@model IEnumerable<GestorHorarioG6.Models.Funcionario>

@{
    ViewData["Title"] = "Horário";
}



<table class="table">
    <thead>
    </thead>
    <tbody>
            <h3>Gerar Horários</h3>
            <a href='@Url.Action("GerarHorarioTecnicos", "HorarioTecnicos")'>
            <input type="button" class="btn btn-info btn-lg btn-block" value="GERAR HORÁRIO" />
    </tbody>
    
</table>


