@model GerarHorarioTecnicos

@{
    ViewData["Title"] = "Gerar Horário Técnicos";
}
<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 20px">
        <form asp-action="GerarHorarioTecnicos">
            <div class="form-group form-inline">
                <label asp-for="DataInicioSemana" class="control-label">Data Início da Semana: </label>
                <input asp-for="DataInicioSemana " class="form-control" />
            </div>
            <div class="col-sm-offset-2">
                <a asp-action="Horario"><input type="button" value="Voltar" class="btn btn-default" /></a>
                <input type="submit" value="Gerar Horário" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>